[Desktop Entry]
Type=Application
Exec=l %F
Name=l
GenericName=List without insanity.
Icon=app.shaz.ftx.png
Terminal=false
Categories=Development;IDE;Qt;
MimeType=text/x-c++src;text/x-c++hdr;text/x-xsrc;application/x-designer;application/vnd.qt.qmakeprofile;application/vnd.qt.xml.resource;text/x-qml;text/x-qt.qml;text/x-qt.qbs;
