[Desktop Entry]
Type=Application
Exec="/opt/app/shazware/flatten" %F
Name=Flatten
GenericName=Flatten a whole subdir into one level of dir (be careful)
Icon=/opt/app/shazware/ftx.png
Terminal=false
Categories=Development;IDE;Qt;
MimeType=text/x-c++src;text/x-c++hdr;text/x-xsrc;application/x-designer;application/vnd.qt.qmakeprofile;application/vnd.qt.xml.resource;text/x-qml;text/x-qt.qml;text/x-qt.qbs;
