Package: shazware
Version: 20220514
Architecture: amd64
Maintainer: Stephen Hazel<stephen.hazel@gmail.com> https://pianocheetah.app
Description: shazware - [S]teve [HAZ]el's soft[WARE]
 big - dumps a big font to the ole console
 flatten - flatten all the files in the subdirs of a top dir into the top dir as subdir1_subsubdir1_filename.txt
 ftx - Find Text - look in top dir and all files (including those in subdirs) for a text string
 l - my replacement for ls - i know i know - leave me be
 ned (Nifty text EDitor) - an old school 80 columns monospace (ONLY!) text editor.
    originally on the C=64 in 6510 asm.  Then to C on Amiga500, then msdos, then MacClassic,
    then on win95/10 in barely C++
 recent - list file mod dates under a top dir (like ls -ltr but all subdirs, nicer format)
 renem - rename all files under a top dir with text editing
 undup - find and kill duplicate files in a top level dir (and subdirs, etc)
Section: devel
Priority: optional
Essential: no
Installed-Size: 950000
Source:
Depends: libc6 (>= 2.34), libgcc-s1 (>= 3.0), libqt5core5a (>= 5.15.1), libqt5gui5 (>= 5.11.0~rc1) | libqt5gui5-gles (>= 5.11.0~rc1), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 5.2)
